@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.text-font {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#header {
    padding: 10px;
    text-align: center;
}

#header h1 {
    margin: 0;
    font-size: 2em;
}

#grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: rgb(108, 215, 89);
    height: 30em;
}

#jump {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.scores {
    font-size: 1.1em;
    margin-left: 5%;
    padding: 5px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    border: solid 5px rgb(207, 245, 200);
    border-radius: 5px;
    margin: 5px;
    width: 70px;
    height: 70px;
    transition: 0.2s;
}

.white-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    background-color: #fafafa;
    font-weight: bold;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 70px;
    height: 70px;
}

.empty {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 5px;
    margin: 5px;
    width: 70px;
    height: 70px;
    transition: 0.2s;
    border: none;
}

.block:hover {
    border: solid 5px rgb(153, 229, 140);
}

.number {
    font-size: 2em;
}